In this project we'll take multiple grocery price datasets and build a suite of easy to update and configurable tools that generate insights, graphs, and a report on past trends. Then we'll look at forward facing projections for future grocery sales data by building a model from the historical dataset, create easily configurable variables, and build projections for future

In [49]:
# SELF REMINDER TO BE IN ISP_ENV
# maybe setting the environment correctly but will need to be checked

# %set_env = isp_env

# Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
# import math
import os
# import dask

#import datasets and make dataframes we actually want to use for the project here

In [69]:
# This block is recyclable code to explore each of the datasets

# Print current path to clearly direct us around our directories of datasets

current_path = os.getcwd()
print(current_path)

# Select a datset for exploration
data_path = 'isp_data/data/Monthly average retail prices for food/18100002.csv'

# Commented out method to check but not store dataset for exploration
# pd.read_csv(data_path)

# Create a dataframe of selected dataset

df = pd.read_csv(data_path)

# Print DataFrame info

df_info = df.info()
print(df_info)

# Get shape of the DataFrame (attribute)
shape = df.shape
print("DataFrame Shape is (rows, columns):", shape)  # Output: (rows, columns)

# Use pandas to print first and last n rows for selected dataset

print(df.head(3))

print(df.tail(3))

C:\Users\Luke\Desktop\Acenet\ISP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18516 entries, 0 to 18515
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   REF_DATE       18516 non-null  object
 1   GEO            18516 non-null  object
 2   DGUID          18516 non-null  object
 3   Products       18516 non-null  object
 4   UOM            18516 non-null  object
 5   UOM_ID         18516 non-null  int64
 6   SCALAR_FACTOR  18516 non-null  object
 7   SCALAR_ID      18516 non-null  int64
 8   VECTOR         18516 non-null  object
 9   COORDINATE     18516 non-null  float64
 10  VALUE          18516 non-null  float64
 11  STATUS         0 non-null      float64
 12  SYMBOL         0 non-null      float64
 13  TERMINATED     2194 non-null   object
 14  DECIMALS       18516 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 2.1+ MB
None
DataFrame Shape is (rows, columns): (18516, 15)
  REF_DATE     GEO           DGUID                     Products      UOM  \
0  1995-01  Canada  2016A000011124      Round steak, 1 kilogram  Dollars
1  1995-01  Canada  2016A000011124    Sirloin steak, 1 kilogram  Dollars
2  1995-01  Canada  2016A000011124  Prime rib roast, 1 kilogram  Dollars

   UOM_ID SCALAR_FACTOR  SCALAR_ID   VECTOR  COORDINATE  VALUE  STATUS  \
0      81         units          0  v735165         1.1  10.17     NaN
1      81         units          0  v735176         1.2  11.25     NaN
2      81         units          0  v735187         1.3  12.08     NaN

   SYMBOL TERMINATED  DECIMALS
0     NaN        NaN         2
1     NaN        NaN         2
2     NaN        NaN         2
      REF_DATE     GEO           DGUID  \
18513  2022-02  Canada  2016A000011124
18514  2022-02  Canada  2016A000011124
18515  2022-02  Canada  2016A000011124

                                                Products              UOM  \
18513                        Toothpaste, 100 millilitres          Dollars
18514                                   Cigarettes (200)          Dollars
18515  Regular, unleaded gasoline at self-service sta...  Cents per litre

       UOM_ID SCALAR_FACTOR  SCALAR_ID     VECTOR  COORDINATE   VALUE  STATUS  \
18513      81         units          0    v735218        1.58    3.49     NaN
18514      81         units          0    v735219        1.59  143.81     NaN
18515      57         units          0  v41838376        1.60  156.80     NaN

       SYMBOL TERMINATED  DECIMALS
18513     NaN        NaN         2
18514     NaN        NaN         2
18515     NaN        NaN         1

In [81]:
# Code for Monthly average retail prices for food in Canada from JAN 1995 to FEB 2022 dataset

# Select dataset
historical_price_data_path = 'isp_data/data/Monthly average retail prices for food/18100002.csv'

# Create a dataframe of monthly average retail prices for food

historical_df = pd.read_csv(historical_price_data_path)

# Drop unused columns

historical_df.drop(columns=['GEO','DGUID','UOM_ID','STATUS','SYMBOL','SCALAR_FACTOR','SCALAR_ID','VECTOR',
                 'COORDINATE','TERMINATED'], inplace=True)

# Check for nulls and print a readout listing any
print("Null report:\n",historical_df.isna().sum())

# Display random sample of dataframe
historical_df.sample(10).sort_values(by='REF_DATE')

# Save updated dataframe as new CSV for analysis
# historical_df.to_csv("name of csv.csv")

Null report:
 REF_DATE    0
Products    0
UOM         0
VALUE       0
DECIMALS    0
dtype: int64

,REF_DATE,Products,UOM,VALUE,DECIMALS
879,1996-03,Facial tissue (200 tissues),Dollars,1.53,2
875,1996-03,"Soft drinks, cola type, 2 litres",Dollars,1.33,2
3774,2000-05,"Prime rib roast, 1 kilogram",Dollars,15.94,2
6555,2004-06,"Butter, 454 grams",Dollars,3.59,2
6799,2004-10,"French fried potatoes, frozen, 1 kilogram",Dollars,1.86,2
10467,2010-03,"Homogenized milk, 1 litre",Dollars,2.23,2
13585,2014-09,Bathroom tissue (4 rolls),Dollars,2.64,2
16100,2018-04,"Deodorant, 60 grams",Dollars,4.63,2
16735,2019-04,Tea (72 bags),Dollars,4.34,2
18017,2021-05,"Corn flakes, 675 grams",Dollars,5.84,2

In [79]:
# Code for Detailed food spending, Canada, regions and provinces from 2010 to 2021 dataset

# Select dataset
food_spending_data_path = 'isp_data/data/Detailed food spending, Canada, regions and provinces/11100125.csv'

# Create a dataframe of monthly average retail prices for food

food_spending_df = pd.read_csv(food_spending_data_path)

# Drop unused columns

food_spending_df.drop(columns=['DGUID','Statistic','UOM_ID','SCALAR_FACTOR','SCALAR_ID','VECTOR',
                 'COORDINATE','STATUS','SYMBOL','TERMINATED','DECIMALS'], inplace=True)

# Check for nulls and print a readout listing any
print("Null report:\n",food_spending_df.isna().sum())

# Display random sample of dataframe
food_spending_df.sample(10).sort_values(by='REF_DATE')

# Save updated dataframe as new CSV or dataframe for analysis

Null report:
 REF_DATE                                          0
GEO                                               0
Food expenditures, summary-level categories       0
UOM                                               0
VALUE                                          4031
dtype: int64

,REF_DATE,GEO,"Food expenditures, summary-level categories",UOM,VALUE
2314,2010,Manitoba,Other bakery products (except frozen),Dollars,129.0
2107,2010,Prairie Region,Frozen fruit,Dollars,10.0
9553,2012,Alberta,Other vegetables (fresh),Dollars,150.0
8220,2012,Quebec,Cake and other flour-based mixes,Dollars,7.0
9895,2012,British Columbia,Other fish (canned or bottled),Dollars,4.0
8654,2012,Ontario,"Condiments, spices and vinegars",Dollars,181.0
7101,2012,Atlantic Region,Sugar and confectionery,Dollars,286.0
11235,2013,Nova Scotia,"Soup (chilled, frozen, canned or bottled)",Dollars,49.0
14423,2014,Nova Scotia,Peas (fresh),Dollars,4.0
24046,2017,Newfoundland and Labrador,Honey,Dollars,NaN

In [85]:
# Code for Household spending by household type from 2010 to 2021 dataset
# Similar dataset to food spending but used here to explore different household type spending patterns

# Select dataset
household_spending_data_path = 'isp_data/data/Household spending by household type/11100224.csv'

# Create a dataframe of monthly average retail prices for food

household_spending_df = pd.read_csv(household_spending_data_path)

# Drop unused columns

household_spending_df.drop(columns=['GEO','DGUID','Statistic','UOM_ID','SCALAR_FACTOR','SCALAR_ID','VECTOR',
                                    'COORDINATE','STATUS','SYMBOL','TERMINATED','DECIMALS'], inplace=True)

# Slice grocery rows here

# Check for nulls and print a readout listing any
print(household_spending_df.isna().sum())

# Display random sample of dataframe
household_spending_df.sample(10).sort_values(by='REF_DATE')

# Save updated dataframe as new CSV or dataframe for analysis

REF_DATE                                               0
Household type                                         0
Household expenditures, summary-level categories       0
UOM                                                    0
VALUE                                               3843
dtype: int64

,REF_DATE,Household type,"Household expenditures, summary-level categories",UOM,VALUE
2125,2010,Other households with related or unrelated per...,Televisions and other video equipment and acce...,Dollars,158.0
983,2010,Couples with children,"Water, fuel and electricity for principal acco...",Dollars,2968.0
3418,2011,Couples with children,Other expenses for recreational vehicles,Dollars,74.0
3249,2011,Couples with children,Linens,Dollars,109.0
4755,2012,One person households,Shelter,Dollars,10836.0
9363,2014,One person households,"Sports, athletic and recreational equipment an...",Dollars,NaN
9981,2014,Couples with children,Other personal care supplies and equipment,Dollars,189.0
17063,2017,Lone-parent households with no additional persons,"Maintenance, rental, repairs and services rela...",Dollars,NaN
15936,2017,One person households,Blu-ray players,Dollars,NaN
21469,2021,Other households with related or unrelated per...,Mortgage paid for owned living quarters,Dollars,4949.0

In [88]:
# Code for Survey of household spending (SHS), household spending, summary-level categories, by province, territory and selected metropolitan areas - 1997 to 2009 dataset

# Select dataset
SHS_summary_data_path = 'isp_data/data/Survey of household spending (SHS), household spending, summary-level categories, by province, territory and selected metropolitan areas - Dataset 1997 - 2009/11100197.csv'

# Create a dataframe of monthly average retail prices for food

SHS_summary_df = pd.read_csv(SHS_summary_data_path)

# Drop unused columns

SHS_summary_df.drop(columns=['DGUID','UOM_ID','SCALAR_FACTOR','SCALAR_ID','VECTOR','COORDINATE',
                            'STATUS','SYMBOL','TERMINATED'], inplace=True)

# Slice only food, Total Expenditure rows

# Check for nulls and print a readout listing any
print(SHS_summary_df.isna().sum())

# Display random sample of dataframe
SHS_summary_df.sample(10).sort_values(by='REF_DATE')

# Save updated dataframe as new CSV or dataframe for analysis

REF_DATE                                             0
GEO                                                  0
Household expenditure summary-level categories       0
Statistics                                           0
UOM                                                  0
VALUE                                             2463
DECIMALS                                             0
dtype: int64

,REF_DATE,GEO,Household expenditure summary-level categories,Statistics,UOM,VALUE,DECIMALS
455,1997,Quebec,Gifts of money and contributions,Median expenditure per household reporting,Dollars,200.0,0
533,1997,Manitoba,Total expenditure,Percent of households reporting,Percent,100.0,1
7053,2000,Canada,Recreation,Estimated number of households reporting,Number,11339550.0,0
14690,2003,Saskatchewan,Total expenditure,Median expenditure per household reporting,Dollars,43720.0,0
19980,2005,"Charlottetown and Summerside, Prince Edward Is...",Education,Percent of households reporting,Percent,45.4,1
19451,2005,Saskatchewan,Tobacco products and alcoholic beverages,Average expenditure,Dollars,1308.0,0
20338,2005,"Ottawa-Gatineau, Ontario part, Ontario/Quebec",Clothing,Median expenditure per household reporting,Dollars,2400.0,0
20288,2005,"Montréal, Quebec",Tobacco products and alcoholic beverages,Percent of households reporting,Percent,83.3,1
21768,2006,Saskatchewan,Shelter,Percent of households reporting,Percent,99.5,1
26826,2008,Northwest Territories,Tobacco products and alcoholic beverages,Median expenditure per household reporting,Dollars,NaN,0